%h1 Listing tweets

%table
  %tr
    %th Tweet
    %th Screen name
    %th Tweet text
    %th Deleted
    %th
    %th
    %th

  - @tweets.each do |tweet|
    %tr
      %td= tweet.tweet_id
      %td= tweet.screen_name
      %td= tweet.tweet_text
      %td= tweet.deleted
      %td= link_to 'Show', tweet
      %td= link_to 'Edit', edit_tweet_path(tweet)
      %td= link_to 'Destroy', tweet, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tweet', new_tweet_path
