= form_for @activity do |f|
  - if @activity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity.errors.count, "error")} prohibited this activity from being saved:"
      %ul
        - @activity.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :actor_screen_name
    = f.text_field :actor_screen_name
  .field
    = f.label :source_service_name
    = f.text_field :source_service_name
  .field
    = f.label :source_type
    = f.text_field :source_type
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :permalink
    = f.text_area :permalink
  .field
    = f.label :deleted
    = f.check_box :deleted
  .actions
    = f.submit 'Save'
