%h1 Listing activities

%table
  %tr
    %th Actor screen name
    %th Source service name
    %th Source type
    %th Description
    %th Created at

  - @activities.each do |activity|
    %tr
      %td= activity.actor_screen_name
      %td= activity.source_service_name
      %td= activity.source_type
      %td= link_to activity.description, activity.permalink
      %td= activity.created_at

%div
  = paginate @activities

