%h1 Listing activities

%table.table.table-striped.table-hover
  %tr
    %th Actor screen name
    %th Source type
    %th Description
    %th Created at

  - @activities.each do |activity|
    %tr
      %td= activity.user.name
      %td
        = service_image_tag activity
        = activity.source_type
      %td= link_to_if(activity.permalink.present?, truncate(activity.description, length: 50), activity.permalink)
      %td= activity.created_at

%div
  = paginate @activities

